        *,
        *::before,
        *::after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            min-height: 100vh;
            background: white;
        }
        li{
            list-style-type: none;
        }
        a{
            text-decoration: none;
            color: inherit;
            &:visited{
                color: inherit;
            }
        }
        body{
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 100%;
        }
        .row{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
        }
        .copy {
    position: fixed;
    z-index: 9999999999999;
    bottom: 5px;
    right: 10px;
    width: 12%;
    height: 25%;
    &:hover {
        &::before {
            opacity: 1;
        }
        >.contact1 , >.contact2 , >.contact3{
            opacity: 1;
            scale: 1.2;
            color: white;
            >a{
                scale: 2;
                color: white;
            }
        }
    }
    
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #ff7f5036;
        opacity: 0;
        transition: 0.5s;
        display: flex;
        position: absolute;
        border-radius: 50%;
    }
    
    >img {
        height: 100%;
        width: 100%;
        overflow: hidden;  
    }
    >.contact1 , >.contact2 , >.contact3{
        position: absolute;
        opacity: 0;
        transition: 1s;
        height: 20%;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        color: #ce45130c;
        text-align: center;
        >a{
            text-decoration: none;
            color: #ce451300;
            transition: 0.2s;
            height: 100%;
            &:hover{
                color: #cd4e20;
            }
        }
    }
    >.contact1{
        right: 100%;
        top: 5%;  
    }
    >.contact2{
        top: 50%;
        right: 110%;
    }
    >.contact3{
        top: 68%;
        right: 110%;
    }
}