.navbart {
    width: 100%;
    background-color: black;
    height: 50px;
    padding: 0 3.5%;

    >.row {
        justify-content: space-between;

        >* {
            /* border: 1px solid white; */
            /* width: 100px; */
            height: 100%;
        }

        >div {
            display: flex;

            >div {
                /* border: solid yellow 1px; */
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 3.5px;

                >* {
                    display: flex;
                    font-size: 12px;
                    text-align: center;
                    color: white;
                    margin-right: 5px;
                }

                >i {
                    color: inherit;
                    width: 28px;
                    height: 100%;
                }

                /* >span {} */
                /* >address {} */

            }

        }


        >nav {
            >ul {
                >li {
                    height: 100%;
                    margin-left: 10px;

                    >a {
                        display: flex;
                        height: 100%;
                        width: 30px;
                    }
                }
            }
        }
    }
}

/* end 1st sec */

.ainh {
    width: 180px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;

    &:hover {
        background-color: white;

        >div>i {
            &:first-of-type {
                left: 0;
            }

            &:last-of-type {
                left: 30px;
            }

            >svg {
                stroke: black;
            }
        }

        >span {
            color: black;
        }
    }

    >* {
        display: flex;
    }

    >span {
        color: white;
    }

    div {
        position: relative;
        width: 25px;
        height: 25px;
        /* border: white solid 2px; */
        overflow: hidden;
        margin-left: 17px;

        >i {
            position: absolute;
            width: 25px;
            height: 25px;
            transition: 1s;

            &:first-of-type {
                left: -30px;
            }

            &:last-of-type {
                left: 0;
            }

            >svg {
                stroke: white;
            }
        }
    }
}

.slider {
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/dance1.jpg);
    background-size: cover;
    padding: 0 3.5%;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    &::before {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.349);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }

    >header,
    >.row {
        position: relative;
        z-index: 20;
    }

    >header {
        width: 100%;
        height: 100px;

        >.row {
            >* {
                height: 100%;
                /* border: 1px solid white; */
            }

            >figure {
                width: 20%;
                display: flex;
                align-items: center;
            }

            >nav {
                width: 60%;

                >ul {
                    >li {
                        /* border: solid 2px red; */
                        display: flex;
                        align-items: center;
                        margin-right: 16px;
                        text-transform: capitalize;

                        >.first {
                            padding-left: 5px;

                            &::after {
                                content: '';
                                position: absolute;
                                display: flex;
                                width: 100%;
                                height: 2.5px;
                                background-color: white;
                                bottom: 2px;
                                left: 0;
                                transition: .4s;
                            }
                        }

                        >a {
                            color: white;
                            /* background-color: yellowgreen; */
                            padding: 10px 0;
                            position: relative;
                            font-size: 19px;

                            &:hover {
                                &::after {
                                    width: 100%;
                                }
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                display: flex;
                                width: 0px;
                                height: 2.5px;
                                background-color: white;
                                bottom: 2px;
                                left: 0;
                                transition: .4s;
                            }
                        }
                    }
                }
            }

            >div {
                width: 20%;
                display: flex;
                justify-content: right;
                align-items: center;


                >* {
                    display: flex;
                    /* border: 1px white solid; */
                }


                >i {
                    width: 40px;
                    height: 40px;
                    margin-left: 23px;
                    margin-right: 15px;
                }
            }

        }
    }

    >.row {
        /* background-color: yellow; */
        justify-content: center;
        margin: 200px 0;

        >div {
            width: 80%;
            height: 300px;
            /* border: 1px solid white; */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            >* {
                color: white;
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: space-evenly;
            }

            >h1,
            h3 {
                color: white;
                margin: 20px 0;
                text-align: center;
                width: 100%;
            }

            h1 {
                font-size: 60px;
            }

            h3 {
                font-size: 25px;
                font-weight: normal;
            }

            >a {
                background-color: white;

                &:hover {
                    background-color: black;

                    >span {
                        color: white;
                    }

                    >div>i>svg {
                        stroke: white;
                    }
                }

                >span {
                    color: black;
                }

                >div {

                    >i {
                        >svg {
                            stroke: black;
                        }
                    }
                }
            }



        }
    }

}

/* end 2nd sec */

.card {
    width: 100%;
    padding: 0 3.5%;

    /* height: 100vh; */
    >.row {
        justify-content: center;
        justify-content: space-evenly;

        >figure {
            width: 375px;
            height: 525px;
            margin: 25px 0;
            /* background-color: yellow; */
            margin: 45px 0;
            position: relative;

            &:hover {
                >img {
                    scale: 1.015;
                }

                >div {
                    bottom: -20px;
                }
            }

            >img {
                width: 375px;
                height: 85%;
                object-fit: cover;
                transition: .4s;
            }

            >div {
                background-color: white;
                width: 80%;
                height: 250px;
                position: absolute;
                bottom: -40px;
                left: 10%;
                transition: .4s;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                >* {
                    text-transform: capitalize;
                    text-align: center;
                    width: 100%;
                    padding: 10px 0;
                    /* margin-top: 15px 0; */
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                }

                >h3 {
                    margin-top: 8px;
                    font-size: 25px;
                }

                >p {
                    font-weight: normal;
                    color: rgba(0, 0, 0, 0.788);

                    &::after {
                        background-color: rgba(0, 0, 0, 0.514);
                        width: 90%;
                        height: 1.5px;
                        content: '';
                        margin-top: 40px;
                    }
                }

                >i {
                    display: flex;
                    flex-wrap: wrap;
                    width: 50px;
                    height: 60px;
                    margin-bottom: 25px;
                }

                >a {
                    width: 100%;
                    background-color: black;

                    svg {
                        stroke: white;
                    }

                    span {
                        color: white !important;
                    }
                }

            }
        }

    }
}

/* end of card */

.vid {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    overflow: hidden;

    &::after {
        background-color: rgba(0, 0, 0, 0.288);
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
    }

    >video {
        width: 100%;
        height: 100%;
        scale: 1.4;

    }

    >div {
        width: 80%;
        height: 70%;
        top: 20%;
        left: 10%;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        z-index: 256;
        justify-content: center;
        align-content: space-evenly;

        /* background-color: yellow; */
        >h2,
        p {
            color: white;
            text-align: center;
            width: 100%;
        }

        h2 {
            font-size: 60px;
        }

        >p {
            font-size: 20px;

        }

        >a {
            background-color: white;

            &:hover {
                background-color: black;

                >span {
                    color: white;
                }

                >div>i>svg {
                    stroke: white;
                }
            }

            >span {
                color: black;
            }

            >div {

                >i {
                    >svg {
                        stroke: black;
                    }
                }
            }
        }
    }
}

/* end of video  */

footer {
    width: 100%;
    background-color: black;
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 70px 4%;

    .row {
        >* {
            color: white;
            font-size: 20px;
            text-transform: capitalize;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        }

        >div {
            &:first-of-type {
                width: 50%;

                >ul {
                    display: flex;
                    flex-wrap: wrap;

                    &:first-of-type {
                        /* margin-top: 10px; */
                        margin-block: 30px;

                        >li {
                            width: 50%;
                            height: 40px;
                            display: flex;
                            align-items: center;
                        }
                    }

                    &:last-of-type {
                        margin-top: 25px;
                        gap: 15px;
                    }
                }
            }

            &:last-of-type {
                width: 50%;
                padding-left: 50px;
                /* border: 2px solid white; */

                >h5 {
                    font-size: 35px;
                    /* text-align: center; */
                }

                >form {
                    >div {
                        border: 1px solid rgba(255, 255, 255, 0.521);
                        width: 70%;
                        height: 70px;
                        padding: 2px;
                        margin: 30px  0;

                        display: flex;
                        /* outline: 2px solid yellow; */
                        /* outline-offset: 30px; */

                        >input {
                            width: 70%;
                            border: none;
                            outline: none;
                            height: 100%;
                            background-color: transparent;
                            &::placeholder{
                                padding-left: 15px;
                                font-size: 20px;
                            }
                        }

                        >button {
                            width: 30%;
                            background-color: rgba(153, 113, 113, 0.76);
                            height: 100%;
                            border: none;
                            outline: none;
                            font-size: 23px;
                            color: white;
                        }
                    }
                }

                >p {
                    font-size: 14px;
                    /* text-align: center; */
                }
            }
        }
    }
}
